.footer{
    width: 100%;
    padding: 120px 0 40px 0;
    &_h{
        width: 100%;
        text-align: right ;
        color: #FFB548;
    }
    &_nav{
        width: 100%;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 480px) {
    .footer{
        width: 100%;
        padding: 100px 0 60px 0;
        &_h{
            width: 100%;
            text-align: right ;
            color: #FFB548;
        }
        &_nav{
            width: 100%;
            padding-top: 20px;
            display: flex;
            flex-wrap: wrap;
        }
    }
}