  * {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    text-align: start;
  }
  body{
    background-color: #FBF1E9 ;
    scroll-behavior: smooth;
  }
  
  //otros
  
  .black_screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #2d2a26;
    opacity: 0.5;
    z-index: 1;
  }
  
  //Contenedores
  
  #root {
    width: 100vw;
    overflow: scroll;
    // position: sticky;
    // top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
     
  }
  
  
  #master {
    width: 100vw;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    // top: -40px;
    animation: slideUp 1.5s ease forwards;
    background-color: #FBF1E9 ;
    z-index: 2;
    
  }
  #none{
    width: 100vw;
    overflow: hidden;
    }

  @keyframes slideUp {
    from {
      transform: translateY(100vh);
    }
    to {
      transform: translateY(-40px);
    }
  }
  
  .container {
    // max-width: 1280px;
    width: calc(100% - 3vw);
    min-height: calc(100vh - 3vw) ;
    margin: 1.5vw;
    border-radius: 1.5vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #F6E4D3;
    z-index: 5;
    &_alt{
      @extend .container;
      flex-direction: row;
      background-color: #f6e4d300;
      &_back{
        @extend .container_alt;
        z-index: 0;
        position: absolute;
        // animation-name: stepback;
        // animation-duration: 1.5s;
      }
    }
    &_row{
      @extend .container;
      flex-direction: row;
    }
    
  }
  .back{
    width: calc(100% - 3vw);
    min-height: calc(100vh - 3vw) ;
    margin: 1.5vw;
    border-radius: 1.5vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #F6E4D3;
    z-index: 5;
    z-index: 0;
    position: absolute;
    // animation-name: stepback;
    // animation-duration: 1.5s;
  }
  // @keyframes stepback{
  //   0%{
  //     // transform-origin: top center;
  //     transform: scale(1);
  //   }
  //   100%{
  //     // transform-origin: top center;
  //     transform: scale(0.9)
  //   }
  // }
  
  .nav {
    &_intro{
      position: fixed;
      bottom: 3vw;
      align-items: center;
      display: flex;
      justify-content: space-around;
      z-index: 10;
      padding: 10px 20px;
      border-radius: 50px;
      backdrop-filter: blur(10px);
      background: radial-gradient(circle, rgba(118,110,99,0.1) 0%, rgba(251,241,233,0.1) 100%);
    }
  }

  .tag {
    padding: 5px 10px;
    border-radius: 30px;
    background-color: #EE4443 ;
  }
  
  
  
  // Barra Navegación
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .simplebar-scrollbar::before {
    background: linear-gradient(
      150deg,
      rgba(135, 206, 235, 1) 20%,
      rgba(70, 130, 180, 1) 100%
    ) !important;
  }
  .simplebar-track {
    border-radius: 10px;
  }
  .simplebar-content-wrapper {
    height: 70vh;
    width: 80vw;
  }
// @media (max-width: 1024px) {
//   .hl {
//     font-family: "CocoClasssy";
//     font-weight: 800;
//     font-size: 94px;
//     color: #2d2a26;
//     line-height: 80px;

//   }
//   .h1 {
//     font-family: "CocoClasssy";
//     font-weight: 800;
//     font-size: xx-large;
//     color: #2d2a26;
//   }
//   .h2 {
//     font-family: "Norm";
//     font-weight: 600;
//     font-size: x-large;
//     color: #2d2a26;
//   }
//   .h3 {
//     font-family: "Norm";
//     font-weight: 500;
//     font-size: larger;
//     color: #2d2a26;
//   }
//   .h4 {
//     font-family: "Norm";
//     font-weight: 400;
//     font-size: medium;
//     color: #2d2a26;
//     font-style: italic;
//   }
//   .p-b {
//     font-family: "Neutra";
//     font-weight: 400;
//     font-size: medium;
//     color: #2d2a26;
//   }
//   .p-s {
//     font-family: "Neutra";
//     font-weight: 400;
//     font-size: small;
//     color: #2d2a26;
//   }
//   .f-tags{
//     font-family: "Norm";
//     font-weight: 400;
//     font-size: x-small;
//     color: #f8f8f8;
//     font-style: italic;
//   }
// }  

@media (max-width: 480px) {
  
  #master {
    width: 100vw;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    // top: -40px;
    animation: slideUp 1.5s ease forwards;
    background-color: #FBF1E9 ;
    z-index: 2;
    
  }
  #none{
    width: 100vw;
    overflow: hidden;
    }

  @keyframes slideUp {
    from {
      transform: translateY(100vh);
    }
    to {
      transform: translateY(-40px);
    }
  }
  
  .container {
    // max-width: 1280px;
    width: calc(100% - 40px);
    min-height: calc(100vh - 40px) ;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #F6E4D3;
    z-index: 5;
    &_alt{
      @extend .container;
      flex-direction: row;
      background-color: #f6e4d300;
      &_back{
        @extend .container_alt;
        z-index: 0;
        position: absolute;
        // animation-name: stepback;
        // animation-duration: 1.5s;
      }
    }
    &_row{
      @extend .container;
      flex-direction: row;
    }
    
  }
  .back{
    width: calc(100% - 40px);
    min-height: calc(100vh - 40px) ;
    margin: 20px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #F6E4D3;
    z-index: 0;
    
    position: absolute;
    // animation-name: stepback;
    // animation-duration: 1.5s;
  }

  .nav {
    &_intro{
      position: fixed;
      bottom: 40px;
      align-items: center;
      display: flex;
      justify-content: space-around;
      z-index: 10;
      padding: 10px 20px;
      border-radius: 50px;
    }
  }

}

  
  
  